@media screen and (max-width: 3840PX) {
  html {
    font-size: 20Px;
  }
}

@media screen and (max-width: 1920PX) {
  html {
    font-size: 18Px;
  }
}

@media screen and (max-width: 1680Px) {
  html {
    font-size: 16Px;
  }
}
@media screen and (max-width: 1440Px) {
  html {
    font-size: 14Px;
  }
}
@media screen and (max-width: 1200Px) {
  html {
    font-size: 12Px;
  }
}