$color-bg: #0e1833;

$color-font-1: white;
$color-font-2: #ccc;
$color-font-3: #858891;
$color-font-4: #3e4356;

$color-line: #192d52;
$color-primary: #1c53ac;
$color-danger:#ff1078;
$color-warning: #ffed00;
$color-success:#02ff00;

$color-flash: #cf35d7;
